* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}
.welcome {
  text-align: center;
  margin-top: 20px;
}
.js {
  color: orange;
}

.question {
  font-size: larger;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: orangered;
  margin-bottom: 10px;
}
.option {
  width: 50%;
}
.options {
  border: 2px solid gray;
  padding: 10px;
  width: 100%;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}
.options:hover {
  background-color: rgb(158, 173, 187);
  transform: scale(1.02);
  transition: all;
}
.options:active {
  transition: all;
  transform: scale(0.99);
}
.click_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.act_button {
  padding: 10px;
  background: rgb(233, 158, 130);
  color: white;
  border: none;
  cursor: pointer;
  width: 20%;
}
.act_button:hover {
  background-color: rgb(158, 173, 187);
  transform: scale(1.02);
  transition: all;
}

.act_button:active {
  transform: scale(0.99);
}

.options:active {
  font-weight: bolder;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.question-no{
  font-weight: 900;
  color: brown;
}