* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.js {
  color: brown;
}

.taskbox {
  background: gainsboro;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.task_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.task_input_box {
  padding: 1rem;
  width: 80%;
  border: none;
}
.task_input_box:focus {
  outline: 1px solid brown;
}

.task_add_container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  gap: 2;
}
.add_button {
  padding: 0 1.5rem;
  cursor: pointer;
  background: brown;
  border: none;
  color: white;
}
.add_button:active {
  transform: scale(0.97);
}
